<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotless Hungry Crocodile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing.css" rel="stylesheet" />
      <div class="pricing-pricing23 thq-section-padding">
        <div class="pricing-max-width thq-section-max-width">
          <div class="pricing-section-title">
            <span>
              <fragment class="pricing-fragment1">
                <span class="pricing-text41 thq-body-small">
                  <span>Escolha o plano perfeito para você</span>
                  <br />
                </span>
              </fragment>
            </span>
            <div class="pricing-content">
              <h2 class="thq-heading-2"><span>Preço Dos Planos</span></h2>
              <p class="thq-body-large">
                <span>Escolha o que faça sentido para você.</span>
              </p>
            </div>
          </div>
          <div class="pricing-tabs">
            <button
              class="pricing-button1 thq-button-filled thq-button-animated"
            >
              <span class="thq-body-small">Mensal</span>
            </button>
            <button
              class="pricing-button2 thq-button-outline thq-button-animated"
            >
              <span class="thq-body-small">Monthly</span>
            </button>
            <button
              class="pricing-button3 thq-button-filled thq-button-animated"
            >
              <span class="thq-body-small">Yearly</span>
            </button>
            <button
              class="pricing-button4 thq-button-outline thq-button-animated"
            >
              <span class="thq-body-small">Anual</span>
            </button>
          </div>
          <div class="pricing-container">
            <div class="pricing-column1 thq-card">
              <div class="pricing-price1">
                <div class="pricing-price2">
                  <p class="pricing-text17 thq-body-large">
                    <span>Plano Basico</span>
                  </p>
                  <h3 class="pricing-text18 thq-heading-3">
                    <span>R$ 1.000,00</span>
                  </h3>
                  <p class="thq-body-large"><span>R$ 10.000,00</span></p>
                </div>
                <div class="pricing-list1">
                  <div class="pricing-list-item10">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing-fragment4">
                        <span class="pricing-text50 thq-body-small">
                          <span>Acesso a todos os cursos online</span>
                          <br />
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing-list-item11">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>24/7 Suporte</span>
                    </span>
                  </div>
                  <div class="pricing-list-item12">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing-fragment5">
                        <span class="pricing-text53 thq-body-small">
                          <span>Materiais de aprendizagem interativos</span>
                          <br />
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button5 thq-button-outline thq-button-animated"
              >
                <span>
                  <fragment class="pricing-fragment6">
                    <span class="pricing-text56 thq-body-small">
                      <span>Inscreva-se Agora</span>
                      <br />
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing-column2 thq-card">
              <div class="pricing-price3">
                <div class="pricing-price4">
                  <p>
                    <fragment class="pricing-fragment2"></fragment>
                  </p>
                  <p class="pricing-text44 thq-body-large">
                    <span>Plano de Negócios</span>
                    <br />
                  </p>

                  <p></p>
                  <h3 class="pricing-text25 thq-heading-3">
                    <span>R$ 1.500,00</span>
                  </h3>
                  <p class="thq-body-large"><span>R$ 15.000,00</span></p>
                </div>
                <div class="pricing-list2">
                  <div class="pricing-list-item13">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Acesso a todos os cursos online</span>
                    </span>
                  </div>
                  <div class="pricing-list-item14">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>24/7 Suporte</span>
                    </span>
                  </div>
                  <div class="pricing-list-item15">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Materiais de aprendizagem interativos</span>
                    </span>
                  </div>
                  <div class="pricing-list-item16">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Extracurriculares e eventos</span>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button6 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small">
                  <span>Inscreva-se Agora</span>
                </span>
              </button>
            </div>
            <div class="pricing-column3 thq-card">
              <div class="pricing-price5">
                <div class="pricing-price6">
                  <p>
                    <fragment class="pricing-fragment3"></fragment>
                  </p>
                  <p class="pricing-text47 thq-body-large">
                    <span>Plano Empresarial</span>
                    <br />
                  </p>

                  <p></p>
                  <h3 class="pricing-text33 thq-heading-3">
                    <span>R$ 2.000,00</span>
                  </h3>
                  <p class="thq-body-large"><span>R$ 20.000,00</span></p>
                </div>
                <div class="pricing-list3">
                  <div class="pricing-list-item17">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Acesso a todos os cursos online</span>
                    </span>
                  </div>
                  <div class="pricing-list-item18">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>24/7 Suporte</span>
                    </span>
                  </div>
                  <div class="pricing-list-item19">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Materiais de aprendizagem interativos</span>
                    </span>
                  </div>
                  <div class="pricing-list-item20">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Extracurriculares e eventos</span>
                    </span>
                  </div>
                  <div class="pricing-list-item21">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span class="thq-body-small">
                      <span>Estudos aplicado</span>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing-button7 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small">
                  <span>Inscreva-se Agora</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
